{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "body"}}
    <div class="snippet">
        {{with .Snippet}}
        <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <metadata>
            <time>Created: {{humanDate .Created}}</time>
            <time>{{.Expires | humanDate | printf "Expires: %s"}}</time>
        </metadata>
        {{end}}
    </div>
{{end}}